<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="C:\Users\fgige\Desktop\fi_ucema\maqueta_practica\static\home.css">
</head>
<body>
    <section class="titulo">
        <img src="../static/Captura de pantalla 2023-06-28 163035.png" alt="">
    </section>

    <section class="medio">
        <div class="textomedio">
            <p>3RD REFRACT ANNUAL LATIN AMERICAN VISIT <br> & <br> 4TH IDPFUN ANNUAL ARGENTINA VISIT</p>
        </div>
    </section>

    <section class="inscripciones">
        <div class="boton">INSCRIPCIONES <br> ABIERTAS</div>
    </section>

    <section class="logos">
        <img src="../static/logos.png" alt="">
    </section>

    <section class="final">
        <div></div>
    </section>

</body>
</html>