<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="C:\Users\fgige\Desktop\fi_ucema\anaejemplo\static\home.css" type=text/css>
    <title>Document</title>
</head>
<body>
    <section class="section-cajas">
        <div class="div-cajas div-rojo">
            <p>soy la caja roja</p>
        </div>
        <div class="div-cajas div-verde">
            <p>soy la caja verde</p>
        </div>
        <div class="div-cajas div-violeta">
            <p>soy la caja violeta</p>
        </div>
    </section>
</body>
</html>