<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/home.css">

</head>
<body>

    <section class="back">

        <section class="arriba"> 
            <div>
                <div class="circulos">
                    <div class="circulo1"></div>
                    <div class="circulo2"></div>
                    <div class="circulo3"></div>
        
                </div>
        
            </div>

        </section>

        <section class="fondo">
            <p>EN UN CLICK</p>
            <section class="stroke">
                <h1>LIBRERIA</h1>
            </section> 
        </section>       
    </section>
    <img class="flecha-click" src="https://svgsilh.com/svg_v2/1345874.svg" alt="flecha">
</body>
</html>