<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/home.css">

</head>
<body>

    <section class="back">

        <section class="arriba"> 
            <div class="circulos">
                <div class="circulo1"></div>
                <div class="circulo2"></div>
                <div class="circulo3"></div>
            </div>
        </section>

        <section class="fondo">
            <p class="enunclick">EN UN CLICK</p>
            <h1>LIBRERIA</h1>
            <div class="buscar">
                <p class="buscartexto">BUSCAR</p>
            </div>
        </section>    
        <img class="flecha-click" src="https://cdn-icons-png.flaticon.com/512/4584/4584858.png" alt="flecha">   
        <img class="cursor" src="https://upload.wikimedia.org/wikipedia/commons/a/a7/Cursor_icon_with_shadow.png" alt="cursor">   
    </section>

</body>
</html>